[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
django = "*"
django-bootstrap4 = "*"
psycopg2 = "*"
psycopg2-binary = "*"
selenium = "*"
bootstrap4 = "*"
social-auth-app-django = "*"
python-dotenv = "*"
django-config = "*"
django-heroku = "*"
gunicorn = "*"
django-maintenance-mode = "*"
django-autocomplete-light = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
