{% extends 'buddy_mentorship/base.html' %}
{% block title %} Requests {% endblock %}
{% block content %}
<h2>
    Your Requests
</h2>

<p>
    Requests you have received:
</p>

<ul>
    {% if not requests_received %}
        <li> You have not received any requests </li>
    {% endif %}
    {% for request in requests_received %}

        <li>
            <a href="/requests/{{ request.id }}">
                {{ request.requestor.first_name }} sent you a request with the message "{{ request.message }}"
            </a>
        </li>

    {% endfor %}
    
</ul>

<p>
    Requests you have sent:
</p>

<ul>
    {% if not requests_sent %}
        <li> You have not sent any requests </li>
    {% endif %}
    {% for request in requests_sent %}

        <li>
            <a href="/requests/{{ request.id }}">
                You sent a request to {{ request.requestee.first_name }} with the message "{{ request.message }}"
            </a>
        </li>

    {% endfor %}
</ul>
{% endblock %}