{% extends 'buddy_mentorship/base.html' %}
{% block title %} Requests {% endblock %}
{% block content %}
<h2>
  Your Requests
</h2>

<p>
  Requests you have received:
</p>

<ul>
  {% if not requests_received %}
    <li> You have not received any requests </li>
  {% endif %}
  {% for request in requests_received %}
    {% if request.status != 2 %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="/requests/{{ request.id }}">
          From: {{ request.requestor.first_name }} {{ request.requestor.last_name }}
        </a>
        {% if request.status == 0 %}
          <span class="badge badge-secondary badge-pill">Pending</span>
        {% endif %}
        {% if request.status == 1 %}
          <span class="badge badge-success badge-pill">Accepted</span>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>

<p>
  Requests you have sent:
</p>

<ul>
  {% if not requests_sent %}
    <li> You have not sent any requests </li>
  {% endif %}
  {% for request in requests_sent %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="/requests/{{ request.id }}">
        To: {{ request.requestee.first_name }} {{ request.requestee.last_name }}
      </a>
      {% if request.status == 0 %}
        <span class="badge badge-secondary badge-pill">Pending</span>
      {% endif %}
      {% if request.status == 1 %}
        <span class="badge badge-success badge-pill">Accepted</span>
      {% endif %}
    </li>
  {% endfor %}
</ul>

<p>
  Offers you have received:
</p>

<ul>
  {% if not offers_received %}
    <li> You have not received any offers </li>
  {% endif %}
  {% for request in offers_received %}
    {% if request.status != 2 %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="/requests/{{ request.id }}">
          From: {{ request.requestor.first_name }} {{ request.requestor.last_name }}
        </a>
        {% if request.status == 0 %}
          <span class="badge badge-secondary badge-pill">Pending</span>
        {% endif %}
        {% if request.status == 1 %}
          <span class="badge badge-success badge-pill">Accepted</span>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>

<p>
  Requests you have sent:
</p>

<ul>
  {% if not offers_sent %}
    <li> You have not sent any offers </li>
  {% endif %}
  {% for request in offers_sent %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="/requests/{{ request.id }}">
        To: {{ request.requestee.first_name }} {{ request.requestee.last_name }}
      </a>
      {% if request.status == 0 %}
        <span class="badge badge-secondary badge-pill">Pending</span>
      {% endif %}
      {% if request.status == 1 %}
        <span class="badge badge-success badge-pill">Accepted</span>
      {% endif %}
    </li>
  {% endfor %}
</ul>

{% endblock %}