{% extends 'buddy_mentorship/base.html' %}

{% block title %}
	Homepage
{% endblock title %}

{% block content %}

<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="id_first_name">First name</label>
    <input class="form-control" value="{{first_name}}" type="text" name="first_name" maxlength="255" required id="id_first_name">
  </div>
  <div class="form-group">
    <label for="id_last_name">Last name</label>
    <input class="form-control" value="{{last_name}}" type="text" name="last_name" maxlength="255" required id="id_last_name">
  </div>
  <div class="form-group">
    <label for="id_bio">Bio</label>
    <textarea class="form-control" rows="5" class="form-control" type="text" name="bio" required id="id_bio">{{bio}}</textarea>
  </div>
  <div class="form-group">
    <label for="id_email">Email</label>
    <input class="form-control" value="{{email}}"type="email" name="email" required id="id_email">
  </div>
  <div class="form-group">
    <label for="id_help_wanted">Help wanted</label>
    {% if help_wanted %}
      <input class="form-control" checked type="checkbox" name="help_wanted" id="id_help_wanted">
    {% else %}
      <input class="form-control" type="checkbox" name="help_wanted" id="id_help_wanted">
    {% endif %}
  </div>
  <div class="form-group">
    <label for="id_can_help">Can help</label>
    {% if can_help %}
      <input class="form-control" checked type="checkbox" name="can_help" id="id_can_help">
    {% else %}
      <input class="form-control" type="checkbox" name="can_help" id="id_can_help">
    {% endif %}
  </div>
  <button class="btn btn-primary" type="submit">Save</button>
</form>


{% endblock content %}