{% extends 'buddy_mentorship/base.html' %}

{% load static %}

{% block title %}
	Edit Profile
{% endblock title %}

{% block content %}

<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="id_first_name">First name</label>
    <input class="form-control" value="{{first_name}}" type="text" name="first_name" maxlength="255" required id="id_first_name">
  </div>
  <div class="form-group">
    <label for="id_last_name">Last name</label>
    <input class="form-control" value="{{last_name}}" type="text" name="last_name" maxlength="255" id="id_last_name">
  </div>
  <div class="form-group">
    <label for="id_bio">Bio</label>
    <textarea class="form-control" rows="5" class="form-control" type="text" name="bio" id="id_bio">{{bio}}</textarea>
  </div>
  <div class="form-group">
    <label for="id_email">Email</label>
    <input class="form-control" value="{{email}}"type="email" name="email" required id="id_email">
  </div>
  <div class="form-group">
    <div class="form-check">
    <input class="form-check-input" type="checkbox" name="looking_for_mentors" {% if looking_for_mentors %} checked {% endif %} id="lookingForMentorsCheck" >
    <label class="form-check-label" for="lookingForMentorsCheck">
      I am actively looking for mentors
      <svg class="text-info" data-toggle="tooltip" title="Check this box if you want potential mentors to be able to find you in search and send mentorship offers." data-placement="right" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
      </svg>
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="looking_for_mentees" {% if looking_for_mentees %} checked {% endif %} id="lookingForMenteesCheck">
    <label class="form-check-label" for="lookingForMenteesCheck">
      I am actively looking for mentees
      <svg class="text-info" data-toggle="tooltip" title="Check this box if you want potential mentees to be able to find you in search and send mentorship requests." data-placement="right" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
      </svg>
    </label>
  </div>
</div>

  <button class="btn btn-primary" type="submit">Save</button>
</form>

{% block tooltip_js %}
  <script src="{% static "js/tooltip.js" %}">
  </script>
{% endblock tooltip_js %}

{% endblock content %}

