{% extends 'buddy_mentorship/base.html' %}

{% load static %}

{% block title %}
	Profile
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="starter-template">
        <h1>
            {{profile.user.first_name}} {{profile.user.last_name}}
        </h1>
        <div class="row mb-2">
            <div class="col">
                <div class="bio card">
                    <div class="card-body">
                        <div class="card-title h5">
                            Biography
                        </div>
                        <p class="card-text">
                            {{profile.bio|linebreaks}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
{% comment %} 
        <div class="row mb-2">
            <div class="col">
                <div class="demographics card">
                    <div class="card-body">
                        <div class="card-title h5">
                            Demographics
                        </div>
                        <p class="card-text">
                        </p>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}

        <div class="row mb-2">
            <div class="col">
                <div class="want-help card">
                    <div class="card-body">
                        <div class="card-title h5">
                            Want Help
                        </div>
                        <div class="card-text">
                            <ul class="list-group list-group-flush">
                                {% if profile.help_wanted %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Python
                                    {% comment %} <span class="badge badge-primary badge-pill">1/5</span> {% endcomment %}
                                </li>
                                {% endif %}
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="can-help card">
                    <div class="card-body">
                        <div class="card-title h5">
                            Can Help
                        </div>
                        <div class="card-text">
                            <ul class="list-group list-group-flush">
                                {% if profile.can_help %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Python
                                    {% comment %} <span class="badge badge-primary badge-pill">4/5</span> {% endcomment %}
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        {% comment %} <div class="row">
             <div class="col d-flex justify-content-center">
                <div id="mapid"></div>
             </div>
        </div> {% endcomment %}

        {% if can_request %}
        <div class="row mb-2">
            <div class="col">
                <div class="send-request card">
                    <div class="card-body">
                        <p><button type="button" class="btn btn-outline-primary btn-lg btn-block" data-toggle="collapse" data-target="#requestForm">Request</button></p>
                        <form class="collapse" id="requestForm" action="{% url "send_request" profile.user.uuid %}" method="post">
                            {% csrf_token %}
                            <p><textarea class="form-control" id="requestMessage" name="message" rows="3">Hi! Will you be my Python mentor?</textarea></p>
                            <p><button type="submit" class="btn btn-primary btn-block" form="requestForm">Submit Request</button></p>
                            <input type="hidden" name="request_type" value={{ request_type.REQUEST }}>
                        </form>
                    <div>
                </div>
            </div>
        </div>
        {% endif %}
        
        {% if can_offer %}
        <div class="row mb-2">
            <div class="col">
                <div class="send-offer card">
                    <div class="card-body">
                        <p><button type="button" class="btn btn-outline-primary btn-lg btn-block" data-toggle="collapse" data-target="#offerForm">Offer</button></p>
                        <form class="collapse" id="offerForm" action="{% url "send_request" profile.user.uuid %}" method="post">
                            {% csrf_token %}
                            <p><textarea class="form-control" id="requestMessage" name="message" rows="3">Hi! I would like to be your Python mentor.</textarea></p>
                            <p><button type="submit" class="btn btn-primary btn-block" form="offerForm">Submit Offer</button></p>
                            <input type="hidden" name="request_type" value={{ request_type.OFFER }}>
                        </form>
                    <div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
  </div>
{% block map_js %}
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <script src="{% static "js/map.js" %}" onload="loadMap()"/>
    <script>
    </script>
{% endblock map_js %}

{% endblock content %}