{% extends 'buddy_mentorship/base.html' %}

{% load static %}

{% block title %}
	{{profile.user.first_name}}'s Profile
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="starter-template">
        <h1>
            {{profile.user.first_name}} {{profile.user.last_name}}
        </h1>
        {% if profile.user == request.user %}
            <a href="{% url "edit_profile" %}"><p>Edit your profile</p></a>
        {% endif %}
        <div class="row mb-2">
            <div class="col">
                <div class="bio card">
                    <div class="card-body">
                        <div class="card-title h5">
                            Biography
                        </div>
                        <p class="card-text">
                            {{profile.bio|linebreaks}}
                            {% if profile.user == request.user %}
                                {% if profile.bio == None and user_profile != profile or profile.bio == "" %}
                                    <div class="alert alert-warning" role="alert">
                                        <a href="{% url "edit_profile" %}">Add a bio</a> to tell potential mentors and mentees about yourself.
                                    </div>
                                {% endif %}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
{% comment %}
        <div class="row mb-2">
            <div class="col">
                <div class="demographics card">
                    <div class="card-body">
                        <div class="card-title h5">
                            Demographics
                        </div>
                        <p class="card-text">
                        </p>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}

        <div class="row mb-2">
            <div class="col">
                <div class="want-help card">
                    <div class="card-body">
                        <div class="card-title h5">
                            Want Help
                        </div>
                        {% if profile.looking_for_mentors %}
                            <span class="badge badge-success" id="lookingForMentorsBadge">Actively Looking for Mentors</span>
                        {% endif %}
                        {% if not profile.looking_for_mentors %}
                            <span class="badge badge-secondary" id="notLookingForMentorsBadge">Not Actively Looking for Mentors</span>
                        {% endif %}
                        {% comment %} </div> {% endcomment %}
                        <div class="card-text">
                            <ul class="list-group list-group-flush">
                                {% for experience in profile.get_help_wanted %}
                                    {% if request.user == profile.user %}
                                        <li class="list-group-item d-flex justify-content-around align-items-center">
                                            <div class="d-flex justify-content-between align-items-center w-75 p-3">
                                    {% else %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {% endif %}
                                    {{ experience.skill.display_name }}
                                    <span class="badge badge-primary badge-pill">{{ experience.level }}/5</span>
                                    {% if request.user == profile.user %}
                                        </div>
                                        <div class="w-25 p-3 d-flex justify-content-around align-items-right align-items-center">
                                            <a href="{% url "edit_skill" experience.id %}">
                                                <svg class="bi bi-pencil-square text-warning" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                                </svg>
                                            </a>
                                            <a href="{% url "delete_skill" experience.id %}">
                                                <svg class="bi bi-dash-square-fill text-danger" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm2 7.5a.5.5 0 0 0 0 1h8a.5.5 0 0 0 0-1H4z"/>
                                                </svg>
                                            </a>
                                        </div>
                                    {% endif %}
                                </li>
                                {% endfor %}
                                {% if request.user == profile.user %}
                                    {% if not profile.get_help_wanted %}
                                        <p></p>
                                        <div class="alert alert-warning" role="alert">
                                            <p>Your profile has no skills you want help with.</p>
                                            <p>Adding skills that you want help with allows you to <b>send mentorship offers</b> and is needed for people looking for mentees to <b>find you via search</b> and <b>send you mentorship offers</b>.</p>
                                        </div>
                                    {% endif %}
                                    <li class="list-group-item d-flex align-items-left">
                                        <a href="{% url "add_skill" exp_types.WANT_HELP%}">
                                            <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                                                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                                            </svg>
                                            Add New Skill
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="can-help card">
                    <div class="card-body">
                        <div class="card-title h5">
                            Can Help
                        </div>
                        {% if profile.looking_for_mentees %}
                            <span class="badge badge-success" id="lookingForMenteesBadge">Actively Looking for Mentees</span>
                        {% endif %}
                        {% if not profile.looking_for_mentees %}
                            <span class="badge badge-secondary" id="notLookingForMenteesBadge">Not Actively Looking for Mentees</span>
                        {% endif %}
                        <div class="card-text">
                            <ul class="list-group list-group-flush">
                                {% for experience in profile.get_can_help %}
                                    {% if request.user == profile.user %}
                                        <li class="list-group-item d-flex justify-content-around align-items-center">
                                            <div class="d-flex justify-content-between align-items-center w-75 p-3">
                                    {% else %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {% endif %}
                                    {{ experience.skill.display_name }}
                                    <span class="badge badge-primary badge-pill">{{ experience.level }}/5</span>
                                    {% if request.user == profile.user %}
                                        </div>
                                        <div class="w-25 p-3 d-flex justify-content-around align-items-right align-items-center">
                                            <a href="{% url "edit_skill" experience.id %}">
                                                <svg class="bi bi-pencil-square text-warning" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                                </svg>
                                            </a>
                                            <a href="{% url "delete_skill" experience.id %}">
                                                <svg class="bi bi-dash-square-fill text-danger" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm2 7.5a.5.5 0 0 0 0 1h8a.5.5 0 0 0 0-1H4z"/>
                                                </svg>
                                            </a>
                                        </div>
                                    {% endif %}
                                    </li>
                                {% endfor %}
                                {% if request.user == profile.user %}
                                    {% if not profile.get_can_help %}
                                    <p></p>
                                        <div class="alert alert-warning" role="alert">
                                            <p>Your profile has no skills you can help with.</p>
                                            <p>Adding skills that you can help with is needed for people looking for mentors to <b>find you via search</b> and <b>send you mentorship requests</b>, and allows you to <b>send mentorship offers</b>.</p>
                                        </div>
                                    {% endif %}
                                    <li class="list-group-item d-flex align-items-left">
                                        <a href="{% url "add_skill" exp_types.CAN_HELP %}">
                                            <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                                                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                                            </svg>
                                            Add New Skill
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        {% if existing_request_from_user %}
            <div class="alert alert-info" role="alert">
                <p>You have sent this user a <a href="{% url "request_detail" existing_request_from_user.id %}">request</a></p>
            </div>
        {% endif %}

        {% if existing_offer_from_user %}
            <div class="alert alert-info" role="alert">
                <p>You have sent this user an <a href="{% url "request_detail" existing_offer_from_user.id %}">offer</a></p>
            </div>
        {% endif %}
        {% if existing_request_to_user %}
            <div class="alert alert-info" role="alert">
                <p>This user has sent you a <a href="{% url "request_detail" existing_request_to_user.id %}">request</a></p>
            </div>
        {% endif %}

        {% if existing_offer_to_user %}
            <div class="alert alert-info" role="alert">
                <p>This user has sent you an <a href="{% url "request_detail" existing_offer_to_user.id %}">offer</a></p>
            </div>
        {% endif %}

        {% if can_request %}
            <div class="row mb-2">
                <div class="col">
                    <div class="send-request card">
                        <div class="card-body">
                            <p><button type="button" class="btn btn-outline-primary btn-lg btn-block" data-toggle="collapse" data-target="#requestForm">Request</button></p>
                            <form class="collapse" id="requestForm" action="{% url "send_request" profile.user.uuid %}" method="post">
                                {% csrf_token %}
                                <p><textarea class="form-control" id="requestMessage" name="message" rows="3">Hi! Will you be my Python mentor?</textarea></p>
                                <p><button type="submit" class="btn btn-primary btn-block" form="requestForm">Submit Request</button></p>
                                <input type="hidden" name="request_type" value={{ request_type.REQUEST }}>
                            </form>
                        <div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if cannot_request_not_looking  %}
            <div class="alert alert-info" role="alert">
                <p>
                    You are not able to request help from this user because they are not actively looking for mentees.
                </p>
            </div>
        {% endif %}

        {% if cannot_request_no_skills %}
            <div class="alert alert-info" role="alert">
                <p>
                    You are not able to request help from this user. This may be because you have not added a skill you want help with or
                    they have not added a skill they can help with.
                </p>
            </div>
        {% endif %}

        {% if can_offer %}
        <div class="row mb-2">
            <div class="col">
                <div class="send-offer card">
                    <div class="card-body">
                        <p><button type="button" class="btn btn-outline-primary btn-lg btn-block" data-toggle="collapse" data-target="#offerForm">Offer</button></p>
                        <form class="collapse" id="offerForm" action="{% url "send_request" profile.user.uuid %}" method="post">
                            {% csrf_token %}
                            <p><textarea class="form-control" id="requestMessage" name="message" rows="3">Hi! I would like to be your Python mentor.</textarea></p>
                            <p><button type="submit" class="btn btn-primary btn-block" form="offerForm">Submit Offer</button></p>
                            <input type="hidden" name="request_type" value={{ request_type.OFFER }}>
                        </form>
                    <div>
                </div>
            </div>
        </div>

        {% endif %}

        {% if cannot_offer_not_looking %}
            <div class="alert alert-info" role="alert">
                <p>
                    You are not able to offer to mentor this user because they are not actively looking for mentors.
                </p>
            </div>
        {% endif %}

        {% if cannot_offer_no_skills %}
            <div class="alert alert-info" role="alert">
                <p>
                    You are not able to offer to mentor this user. This may be because you have not added a skill you can help with or
                    they have not added a skill they want help with.
                </p>
            </div>
        {% endif %}
    </div>
  </div>

{% block map_js %}
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <script src="{% static "js/map.js" %}" onload="loadMap()"/>
    <script>
    </script>
{% endblock map_js %}

{% endblock content %}