{% extends 'buddy_mentorship/base.html' %}

{% block title %}
	Release Notes
{% endblock title %}

{% block content %}

    {% comment %} <h2>Version 1.2.0</h2>
    <h3>Unreleased</h3>
    <h4>Added:</h4>
    <ul>
    </ul>
    <h4>Changed:</h4>
    <ul>
        <li>Added language to new request emails to explain how to respond.</li>
        <li>Added more descriptive template for requests</li>
    </ul>
    <h4>Fixed:</h4>
    <ul>
    </ul>
    <hr/> {% endcomment %}


    <h2>Version 1.1.0</h2>
    <h3>Released 2020-07-19</h3>
    <h4>Added:</h4>
    <ul>
        <li>Release notes page</li>
        <li>Users can now toggle discoverability and inbound requests via "Actively looking for mentors" and "Actively looking for mentees" settings on profile.</li>
    </ul>
    <h4>Changed:</h4>
    <ul>
        <li>Going to a page that requires a login no longer auto redirects the user to Github.</li>
        <li>Github link opens in a new tab.</li>
        <li>Tweaked some language for clarity.</li>
    </ul>
    <h4>Fixed:</h4>
    <ul>
        <li>Login redirects now take the user back to their intended destination after logging in.</li>
    </ul>
    <hr/>

    <h2>Version 1.0.0</h2>
    <h3>Released 2020-07-04</h3>
    <ul>
        <li>First public release</li>
    </ul>
{% endblock content %}
